@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    padding: 0; 
    margin: 0; 
    font-family: 'Poppins', monospace;

}

ul{
    list-style: none; 
    background: #9d9d9d; 

}

ul li{
    display: inline-block; 
    position: relative; 
}

ul il a { 
    display: block; 
    padding: 20px 25px ;
    color: #ff66c4; 
    text-decoration: none; 
    text-align: center; 
    font-size: 20px;

}

ul li ul.dropdown li {
    display: block; 

}

ul li ul.dropdown {
    width: 100%; 
    background: #9d9d9d;
    position: absolute; 
    z-index: 999; 
    display: none; 
}

ul li a:hover {
    background: #a6a6a6; 

}

ul li:hover ul.dropdown {
    display: block; 
}